<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <img src="../../assets/leg.jpg" />
                        <ion-card-title>Progressive Overload</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-text>Yes, Progressive Overload. You here it everywhere, whether you're losing or gaining weight. The key is progressive overload. You've to log your workout you do with a paper and a pen and keep it safe to stay on track. Hereafter,
                            you don't!. Yes. All You need is your Buddy which is me. Track your workouts with me and whenever you're training the same body part again, You can easily review what you did with the previous session and then,
                            <strong>PROGRESSIVELY OVERLOAD</strong>
                        </ion-text>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-footer width="50" style="text-align: center;">
                    <ion-text>&copy; Priyadarsan Mahendiran</ion-text>
                </ion-footer>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>